.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}
.section-heading-root-class-name {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.section-heading-root-class-name1 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.section-heading-root-class-name2 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .section-heading-root-class-name {
    margin-top: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .section-heading-root-class-name1 {
    margin-top: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
  .section-heading-root-class-name2 {
    margin-top: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
  }
}

.item-card-gallery-card {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item-card-image {
  top: 0px;
  flex: 1;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  object-fit: cover;
}
.item-card-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.item-card-container1 {
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: repeat(5,1fr);
}
.item-card-icon {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon02 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon04 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon06 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon08 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.item-card-currency {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.item-card-value {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.item-card-root-class-name {
  flex: 1;
}

.item-card-root-class-name2 {
  flex: 1;
  margin-bottom: 0px;
}

.item-card-root-class-name4 {
  flex: 1;
  height: 100%;
}


.item-card-root-class-name7 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name8 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name9 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name10 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name11 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name12 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name13 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name14 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name15 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name16 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name17 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name18 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name19 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name20 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name21 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name22 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name23 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name24 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name25 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name26 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name27 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name28 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name29 {
  flex: 1;
  width: var(--dl-size-size-medium);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name30 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
.item-card-root-class-name31 {
  flex: 1;
  width: var(--dl-size-size-large);
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
}
@media(max-width: 767px) {
  .item-card-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .item-card-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.product-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.product-page-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.product-page-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.product-page-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.product-page-textinput {
  width: 198px;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.product-page-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.product-page-middle {
  flex: 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.product-page-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.product-page-text01 {
  text-decoration: none;
}
.product-page-logo-center {
  width: auto;
  z-index: 100;
  align-self: center;
  margin-top: 0Unit;
  text-align: center;
  line-height: 30px;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0Unit;
  padding-right: 0px;
  letter-spacing: 0.4em;
  text-decoration: none;
}
.product-page-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.product-page-text03 {
  text-decoration: none;
}
.product-page-icons {
  display: flex;
}
.product-page-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.product-page-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.product-page-navlink {
  display: contents;
}
.product-page-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.product-page-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 328px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.product-page-navlink1 {
  display: contents;
}
.product-page-component02 {
  text-decoration: none;
}
.product-page-container3 {
  height: 328px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.product-page-container4 {
  height: 340px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
}
.product-page-footer {
  width: 1600px;
  height: 272px;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-pallet-green);
}
.product-page-container5 {
  width: 835px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-text06 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.product-page-text07 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.product-page-text08 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.product-page-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: space-between;
}
.product-page-container6 {
  flex: 0 0 auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-text09 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.product-page-navlink2 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.product-page-text10 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-page-navlink3 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.product-page-text11 {
  color: var(--dl-color-gray-black50);
}
.product-page-container8 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.product-page-text12 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.product-page-text13 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-page-text14 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-page-text15 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.product-page-text16 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1200px) {
  .product-page-footer {
    width: 1200px;
  }
  .product-page-container8 {
    width: 170px;
  }
}
@media(max-width: 991px) {
  .product-page-container1 {
    display: none;
  }
  .product-page-left {
    display: none;
  }
  .product-page-right {
    display: none;
  }
  .product-page-icons {
    display: none;
  }
  .product-page-footer {
    flex-direction: column-reverse;
  }
  .product-page-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .product-page-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .product-page-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .product-page-header {
    padding: var(--dl-space-space-unit);
  }
  .product-page-footer {
    padding: var(--dl-space-space-unit);
  }
  .product-page-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-page-container6 {
    margin-right: var(--dl-space-space-unit);
  }
  .product-page-container7 {
    margin-right: var(--dl-space-space-unit);
  }
}
